# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data (raw data often too large / shouldn't be versioned)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep